<section>
    <h4 class="section-title">Introdução</h4>
    <p>O sistema realiza a análise de ocorrência de doenças respiratórias no Distrito Federal, utilizando dados
        governamentais abertos, e técnicas de Ciências de Dados, Machine Learning, e IA. A pesquisa busca compreender
        como fatores climáticos e ambientais influenciam a incidência dessas doenças, sobretudo durante o período seco.
    </p>
</section>

<section>
    <h4 class="section-title">O Conjunto de Dados</h4>
    <p>Foram utilizados dados diários desde 01/01/2008 até 30/11/2025 (expansível para quando houverem mais dados
        disponíveis nas fontes), extraídos de fontes oficiais, como Fiocruz e DATASUS para dados relacionados à saúde,
        representando cada caso registrado de doenças respiratórias nesse período, bem como dados de custos hospitalares
        e dados demográficos, e como CEMADEN e INMET, para dados meteorológicos, como precipitação, umidade,
        temperatura, pressão, e radiação global em cada hora do dia, usados para calcular diversos tipos de métricas
        periódicas para este estudo.</p>
</section>

<section>
    <h4 class="section-title">A Análise de Dados</h4>
    <p>O sistema aplica uma série de filtragens, cálculo de médias, mínimas, máximas e diferenças, entre outras técnicas
        de Ciência de Dados para identificar padrões e correlações, por meio de scripts próprios automatizados
        desenvolvidos em Python. Fundamentado em estudos que relacionam dados meteorológicos e saúde pública, o projeto
        adota métodos de análise estatística e aprendizado de máquina para gerar modelos preditivos e visualizações
        interativas.</p>
</section>

<section>
    <h4 class="section-title">As Tecnologias Utilizadas</h4>
    <p>O sistema utiliza diversas bibliotecas da linguagem Python, como Pandas e NumPy, para processamento e manipulação
        de dados, Matplotlib e Seaborn para gerar gráficos e heatmaps, XGBoost para o modelo de previsões, scikit-learn
        para cálcular métricas de performance do modelo, e Optuna para testes automatizados e otimização dos parâmetros
        do modelo. </p>
</section>

<section>
    <h4 class="section-title">Objetivos</h4>
    <p>Espera-se que o sistema contribua para a vigilância epidemiológica e o planejamento estratégico em saúde pública,
        fortalecendo a integração entre tecnologia e políticas preventivas.</p>
</section>