<section>
    <div class="img-container links-container">
        <a class="link-box" href="https://github.com/Fabio5271/TCC-Scripts" target="_blank">
            <img src="logos/github-dark-green.png" alt="Github do Sistema">
            <h4 class="img-label">Repositório do Sistema</h4>
        </a>
        <a class="link-box" href="https://github.com/Fabio5271/TCC-Web" target="_blank">
            <img src="logos/github-dark.png" alt="Github do Site">
            <h4 class="img-label">Repositório deste Site</h4>
        </a>
        <a class="link-box" href="https://pcdas.icict.fiocruz.br/conjunto-de-dados/sistema-de-informacoes-hospitalares-do-sus-sihsus/" target="_blank">
            <img src="logos/pcdas.png" alt="PCDAS Fiocruz">
            <h4 class="img-label">SIHSUS - Plataforma de Ciência de Dados da Fiocruz</h4>
        </a>
        <a class="link-box" href="https://portal.inmet.gov.br/dadoshistoricos" target="_blank">
            <img src="logos/inmet.png" alt="INMET">
            <h4 class="img-label">Banco de Dados INMET</h4>
        </a>
    </div>
</section>