<div class="links-page">
    <section>
        <div class="img-container links-container">
            <a class="link-box" href="https://github.com/Fabio5271/TCC-Scripts" target="_blank">
                <img src="logos/github-dark-green.png" alt="Github do Sistema">
                <h4 class="img-label">Repositório do Sistema</h4>
            </a>
            <a class="link-box" href="https://github.com/Fabio5271/TCC-Web" target="_blank">
                <img src="logos/github-dark.png" alt="Github do Site">
                <h4 class="img-label">Repositório deste Site</h4>
            </a>
            <a class="link-box"
                href="https://pcdas.icict.fiocruz.br/conjunto-de-dados/sistema-de-informacoes-hospitalares-do-sus-sihsus/"
                target="_blank">
                <img src="logos/pcdas.png" alt="PCDAS Fiocruz">
                <h4 class="img-label">SIHSUS - Plataforma de Ciência de Dados da Fiocruz</h4>
            </a>
            <a class="link-box" href="https://portal.inmet.gov.br/dadoshistoricos" target="_blank">
                <img src="logos/inmet.png" alt="INMET">
                <h4 class="img-label">Banco de Dados INMET</h4>
            </a>
        </div>
    </section>
    <div class="spacer-20"></div>
    <section>
        <div class="img-container links-container no-labels">
            <a class="link-box" href="https://www.python.org/" target="_blank">
                <img src="logos/python.png" alt="Python">
                <h4 class="img-label">Python</h4>
            </a>
            <a class="link-box" href="https://pandas.pydata.org/docs/" target="_blank">
                <img src="logos/pandas.png" alt="Pandas">
                <h4 class="img-label">Pandas</h4>
            </a>
            <a class="link-box" href="https://numpy.org/doc/stable/" target="_blank">
                <img src="logos/numpy-2.png" alt="NumPy">
                <h4 class="img-label">NumPy</h4>
            </a>
            <a class="link-box" href="https://matplotlib.org/stable/index.html" target="_blank">
                <img src="logos/matplotlib.png" alt="Matplotlib">
                <h4 class="img-label">Matplotlib</h4>
            </a>
            <a class="link-box" href="https://seaborn.pydata.org/" target="_blank">
                <img src="logos/seaborn-2.png" alt="Seaborn">
                <h4 class="img-label">Seaborn</h4>
            </a>
            <a class="link-box" href="https://xgboost.readthedocs.io/en/stable/build.html" target="_blank">
                <img src="logos/xgboost-3.png" alt="XGBoost">
                <h4 class="img-label">XGBoost</h4>
            </a>
            <a class="link-box" href="https://scikit-learn.org/stable/index.html" target="_blank">
                <img src="logos/sklearn-2.png" alt="scikit-learn">
                <h4 class="img-label">Scikit-Learn</h4>
            </a>
            <a class="link-box" href="https://optuna.readthedocs.io/en/stable/index.html" target="_blank">
                <img src="logos/optuna.png" alt="Optuna">
                <h4 class="img-label">Optuna</h4>
            </a>
        </div>
    </section>
</div>