.links-page {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.links-container {
    gap: 0.7rem;
}

.links-container img {
    width: 100%;
    border-radius: 25px;
    object-fit: fill;
}

.link-box {
    flex: 1 1 11rem;
    max-width: 100%;
    min-width: 21%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: unset;
    align-items: center;
    justify-content: flex-start;
}

.no-labels .img-label {
    display: none;
}

.img-label {
    width: fit-content;
    text-align: center;
    margin-top: 0.2rem;
}