<div class="sidebar">
  <div class="title">
    <h2>TCC - Fábio Martins e Felipe Maciel</h2>
  </div>
  
  <nav class="nav-menu">
    <a routerLink="/about" routerLinkActive="active" class="nav-item">
      <span>Sobre o Trabalho</span>
    </a>
    <a routerLink="/graphs" routerLinkActive="active" class="nav-item">
      <span>Vizualização de Dados</span>
    </a>
    <a routerLink="/xgboost" routerLinkActive="active" class="nav-item">
      <span>Modelo de Previsões</span>
    </a>
    <a routerLink="/links" routerLinkActive="active" class="nav-item">
      <span>Links Externos</span>
    </a>
  </nav>
</div>