* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  height: 100vh;
  overflow: hidden;
  font-family: Aleo, "Noto Serif", "Times New Roman", serif;
  font-size: 17px;
}

section {
  margin-bottom: 0.7rem;
}

.sidebar {
  height: 100vh;
  min-height: 100vh;
  width: min-content;
  background: #2c3e50;
  color: white;
  padding: 1rem 0;
  flex-shrink: 0;
  overflow-y: auto;
}

.sidebar .title {
  padding: 0 1.5rem 1.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 1rem;
  text-wrap-mode: wrap;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  text-wrap-mode: nowrap;
}

.nav-item {
  padding: 12px 1.5rem;
  color: #bdc3c7;
  font-family: Aleo !important;
  text-decoration: none;
  transition: all 500ms;
  border-left: 4px solid #2c3e50;

  &:hover,
  &.active {
    background: #34495e;
    color: white;
    border-left: 4px solid #3498db;
  }
}

.main-content {
  background: #f8f9fa; // #222120;
  overflow-y: auto;
}

.page-content {
  flex: 1;
  padding: 1.2rem 1.6rem;
  overflow-y: auto;
  background: #f8f9fa; // #222120;
  color: #222120; // #d8d9da;
}

.graph {
  max-width: 100%;
  min-width: 10%;
  border-radius: 17px;
}

.img-container {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: space-evenly;
  margin: 0.4rem 0;

  &>* {
    flex-shrink: 1;
  }
}

.dyn-img-cont img {
  flex: 1 1 25rem;
  max-width: 35rem;
}

.nowrap {
  flex-wrap: nowrap;
}

.width-50 {
  max-width: 50%;
}

.my-1 {
  margin: 0.1rem 0;
}

.mb-3 {
  margin-bottom: 0.3rem;
}

.mb-4 {
  margin-bottom: 0.4rem;
}

.mb-5 {
  margin-bottom: 0.5rem;
}

.spacer-1 {
  width: 100%;
  height: 0.1rem;
}

.spacer-2 {
  width: 100%;
  height: 0.2rem;
}

.spacer-5 {
  width: 100%;
  height: 0.5rem;
}

.spacer-10 {
  width: 100%;
  height: 1rem;
}

.spacer-12 {
  width: 100%;
  height: 1.2rem;
}

.spacer-15 {
  width: 100%;
  height: 1.5rem;
}

.spacer-20 {
  width: 100%;
  height: 2rem;
}

.spacer-30 {
  width: 100%;
  height: 3rem;
}