<section>
  <h4 class="section-title mb-3">Referências Bibliográficas utilizadas no trabalho</h4>
  <div class="ref-list">
    <!-- <p class="ref-item">
      BRASIL. Ministério da Saúde. <b>Banco de dados do Sistema Único de Saúde - DATASUS</b>. Disponível em: <a
        href="https://datasus.saude.gov.br" target="_blank">https://datasus.saude.gov.br</a>. Acesso em: 10 mar. 2026.
    </p> -->
    <p class="ref-item">
      ALMEIDA, Elton Kleiton Albuquerque de; STEINKE, Ercília Torres. <b>Relação entre variáveis meteorológicas e casos
        de internação hospitalar por doenças do aparelho respiratório no Distrito Federal, entre 2003 a 2012.</b> In: X
      Simpósio Brasileiro de Climatologia Geográfica, 10., 2012, Manaus. Anais [...]. Manaus, 2012. p. 232-249. ISBN
      978-85-7846-278-9.
    </p>
    <p class="ref-item">
      BARROS, Juliana Ramalho. <b>Tipos de tempo e incidência de doenças respiratórias: um estudo geográfico aplicado ao
        Distrito Federal</b>. 2006. v, 121 f. Tese (doutorado) - Universidade Estadual Paulista, Instituto de
      Geociências e Ciências Exatas de Rio Claro, 2006.
    </p>
    <p class="ref-item">
      BRITO, Gabriele de Oliveira et al. <b>A influência da vegetação urbana na qualidade do ar e seu reflexo em doenças
        respiratórias em áreas do DF</b>. Programa de Iniciação Científica – PIC/UniCEUB. Relatórios de Pesquisa, 2020.
    </p>
    <p class="ref-item">
      CHEN, T.; GUESTRIN, C. <b>XGBoost: A Scalable Tree Boosting System</b>. In: Proceedings of the 22nd ACM SIGKDD,
      2016. Disponível em: <a href="https://dl.acm.org/doi/abs/10.1145/2939672.2939785"
        target="_blank">https://dl.acm.org/doi/abs/10.1145/2939672.2939785</a>. Acesso em: 01/06/2026.
    </p>
    <p class="ref-item">
      CONTE, Ápio de Araújo. <b>O Custo Econômico de Doenças Respiratórias: Estudo de Caso na Cidade do Gama, Distrito
        Federal</b>. 2010. 101 f. Dissertação (Mestrado em Gestão econômica do meio-ambiente) - Universidade de
      Brasília, Brasília, 2010.
    </p>
    <p class="ref-item">
      CORDUVA, G. G. de et al. <b>Impacto da Poluição Ambiental na Incidência de Doenças Respiratórias em Populações
        Urbanas</b>. Asclepius International Journal of Scientific Health Science, São José dos Pinhais, Paraná, v. 4,
      nº 6, p. 229–246, 2025. DOI: 10.70779/aijshs.v4i6.78.
    </p>
    <p class="ref-item">
      FREITAS, Camila Alves de et al. <b>Prevalência de Sintomáticos Respiratórios em Regiões do Distrito Federal,
        Brasil</b>. Cadernos de Saúde Pública, Rio de Janeiro, v. 27, n. 6, p. 1103-1114, 2011
    </p>
    <p class="ref-item">
      HAN, Jiawei; KAMBER, Micheline; PEI, Jian. <b>Data Mining: Concepts and Techniques</b>. 3. ed. San Francisco:
      Morgan Kaufmann, 2012.
    </p>
    <p class="ref-item">
      <b>INMET – Instituto Nacional de Meteorologia. Estações automáticas – dados históricos</b>. Disponível em:
      <a href="https://portal.inmet.gov.br/" target="_blank">https://portal.inmet.gov.br/</a>. Acesso em: 01/06/2026.
    </p>
    <p class="ref-item">
      SES-DF. <b>Secretaria de Estado de Saúde do Distrito Federal. Relatório Anual de Gestão (RAG) 2023</b>. Brasília,
      2023.
      Disponível em: <a href="https://www.saude.df.gov.br" target="_blank">https://www.saude.df.gov.br</a>. Acesso em:
      08/10/2025.
    </p>
    <p class="ref-item">
      XGBOOST. <b>XGBoost Documentation, release 3.2.0</b>. Disponível em:
      <a href="https://xgboost.readthedocs.io/en/release_3.2.0/"
        target="_blank">https://xgboost.readthedocs.io/en/release_3.2.0/</a>. Acesso em: 01/06/2026.
    </p>
  </div>
</section>